input[type=text]{
    width: 300px;
    display:block;
    margin-bottom: 40px;
    background-color: darkseagreen;
    color:gray
}

input[type=button]{
    width: 80px;
    margin-left: 200px;
    display: block;
    background-color: black;
    color: white
}