input[type=text] {
    width: 300px;
    display:block;
    margin-bottom: 40px;
    background-color: aquamarine;
    color: gray;
}
input[type=button] {
    width: 80px;
    display:block;
    margin-left: 200px;
    background-color: black;
    color: yellow;
}
